 body {
	background-color: yellow;
 }

 
 h1 { 
	color: green;
	text-align: center;
	font-family: Futura;
	font-size: 290px;
 }

 h2 {
	color: green;
	text-align: center;
	font-family: Futura;
	font-size: 270px;
 }
 
 p {
	color: red;
	text-align: center;
	font-family: Futura;
	font-size: 250px;

 img {
 	border-radius: 8px;

 }

 .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
 }
